!!! XML
!!!
%head
  %title Huxap
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

%body
  .container
    / HEAD
    %div{:class => "span-4 colborder"}
      .huxap
        =link_to "Huxap", "/"
      .quiet
        %i Building software products
    %div{:class => "span-12 menu"}
      %li=link_to "Home", "/" #new_interest_path
      %li=link_to "About us", "/home/about"
      %li=link_to "Contact us", "/home/contact"
      %li=link_to "Join us", "/home/join" 
    %div{:class => "span-6 last"}
    
    %hr
    
    / MAIN
    = yield
    / FOOT 
    %hr
    %div{:class => "span-24 centerText"}
      = render :partial => "foot"
    %div{:class => "span-24 centerText"}
      = render :partial => "/interests/new"	