!!! XML
!!!
%head
  %title Huxap
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag

%body
  #head
    .container
      %h1=link_to "Huxap", "/" 
      %i Building software products 
      = render :partial => "/interests/new"
  #flash
    /- unless notice.blank?
    /  .success
    /    = notice
    - unless alert.blank?
      .alert
        = alert
  #menu
    %ul
      %li=link_to "Home", "/" #new_interest_path
      %li=link_to "About us", "/home/about"
      %li=link_to "Contact us", "/home/contact"
      %li=link_to "Join us", "/home/join"
  %p ==================================================================
  #content
    .container
      .column.span-24
        = yield
  %p ==================================================================
  #footer
    = render :partial => "foot"